<h1>Seja Bem-Vindo!</h1>

<ul>
    <li>
        <a href="http://localhost:3000/coins">Cadastro de Moedas</a>
    </li>
    <li>   <a href="http://l
        <%= link_to "Cadastro de Moedas", "/coins" %>
    </li>
</ul>