<h1>Seja Bem-Vindo!</h1>
<p>O idioma usado nessa aplicação é: <strong> <%= locale %> <strong></p>

<%= render "menu" %>

<p>
    Você está em ambiente de <strong><%= ambiente_rails %></strong>
</p>
<p>
    Eu sou uma variável de instância/sessão <strong><%=>
</p>